@font-face {
  font-family: 'iconfont';  /* project id 485507 */
  src: url('//at.alicdn.com/t/font_485507_lpwmv1kez9jgiudi.eot');
  src: url('//at.alicdn.com/t/font_485507_lpwmv1kez9jgiudi.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_485507_lpwmv1kez9jgiudi.woff') format('woff'),
  url('//at.alicdn.com/t/font_485507_lpwmv1kez9jgiudi.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_485507_lpwmv1kez9jgiudi.svg#iconfont') format('svg');
}

.us-icon {
  font-family: 'iconfont';
}
