.plus-tv-btn {
  margin-bottom: 15px !important;
}
.tv-name {
  display: block;
  line-height: 3;
}
.cover-wrap {
  width: 32px;
  height: 45px;
  overflow: hidden;
  .tv-cover {
    width: 100%;
  }
}