@font-face {
  font-family: 'iconfont';
  src: url('/assets/font/iconfont.eot');
  src: url('/assets/font/iconfont.eot?#iefix') format('embedded-opentype'),
  url('/assets/font/iconfont.woff') format('woff'),
  url('/assets/font/iconfont.ttf') format('truetype'),
  url('/assets/font/iconfont.svg#iconfont') format('svg');
}
h1 {
  color: #3990C6;
  background: url('/assets/images/Linux.png');
  font-family: 'iconfont';
}
html {
  background-color: #eee;
}
